* {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}
/* novbar */

header {
	width: 100%;
	height: 100px;
	background-color: rgb(13, 11, 43);
	color: white;
	position: relative;
	margin: auto;
	position: sticky;
	top: 0;
	z-index: 1;
}

.nav-container {
	/* position: absolute; */
	padding: 10px;
	width: 60%;
	height: 80px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a {
	font-size: 25px;
	color: white;
	margin-left: 5px;
	/* text-align: justify;
    text-justify: inter-character; */
}
.logo a > span {
	font-size: 25px;
	font-weight: bold;
}
.logo img {
	width: 25px;
	height: 25px;
}

.nav-rigth button {
	grid-area: button;
	position: relative;
	top: 10px;
	background-color: #636e72;
	border: 2px solid #fdcb6e;
	border-radius: 20px;
	width: 150px;
	height: 26px;
	font-size: 13px;
	font-weight: bold;
	color: #fdcb6e;
	justify-self: flex-end;
	cursor: pointer;
}
.nav-rigth button:hover {
	border: none;
}
.nav-rigth span {
	position: relative;
	top: 20px;
	grid-area: telefono;
	font-size: 10px;
}
.nav-rigth #facebook > img {
	grid-area: facebook;
}
.nav-rigth #instagram > img {
	grid-area: instagram;
}
.nav-rigth #facebook > img,
.nav-rigth #instagram > img {
	width: 23px;
	height: 23px;
	position: relative;
	top: 10px;
	cursor: pointer;
}

.nav-rigth {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	column-gap: 10px;
	grid-template-areas:
		"button facebook"
		"telefono instagram";
}
/* footer */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: rgb(49, 48, 48);
	color: white;
	margin: auto;
	z-index: 1;
}
.nav-footer,
.copy {
	width: 100%;
	height: 40px;
}
.nav-footer ul {
	width: 50%;
	margin: auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.nav-footer ul > li > a {
	font-family: "Spinnaker", sans-serif;
	text-decoration: none;
	color: white;
	font-size: 13px;
}
.nav-footer ul > li > a:hover,
.nav-footer ul > li > a:active {
	color: #b2bec3;
}

.copy {
	background-color: white;
	color: gray;
	text-align: center;
}
.copy p {
	padding-top: 10px;
	font-size: 13px;
}
/* inicio */

#main-inicio {
	position: relative;
	width: 100%;
	height: 80vh;
}

#video-inicio {
	position: absolute;
	/* left: 0;
    top: 0; */
	width: 100%;
	height: auto;
	opacity: 0.7;
	z-index: -10;
}
#inicio {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;
	width: 100%;
}
#inicio div > h2,
#inicio div > h3 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.15em;
	font-size: 90px;
	font-weight: 500px;
}
#inicio div > h3 {
	position: relative;
	text-align: center;
	font-size: 95px;
	color: white;
	top: -55px;
}
#inicio div {
	height: 25vh;
	margin-top: 20vh;
}

#inicio p {
	font-family: "Raleway", sans-serif;
	margin-top: -3em;
	font-size: 10px;
	color: white;
	/* font-weight: bold; */
}

#inicio span {
	font-family: "Raleway", sans-serif;
	margin-top: 0.3em;
	font-size: 14px;
	color: white;
}
#inicio button {
	width: 150px;
	height: 45px;
	align-self: center;
	margin-top: 2em;
	background-color: transparent;
	border: 4px solid white;
	color: white;
	cursor: pointer;
}
#inicio button:hover {
	background-color: white;
	color: black;
}

/* horario */

#main-horario {
	height: 30vh;
	background-image: url("/images/horario.jpg");
	background-position: left bottom;
	background-repeat: no-repeat;
	color: white;
}

.horario {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50px;
}

.horario h3 {
	font-size: 45px;
	font-family: "Raleway", sans-serif;
}

.horario h3 > span {
	font-size: 45px;
	font-family: "Raleway", sans-serif;
	font-weight: lighter;
	margin-left: 10px;
	margin-right: 40px;
}

.horario ul {
	list-style: none;
}

.horario ul > li {
	font-size: 20px;
}
