* {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}
/*********** novbar ***********/

header {
	width: 100%;
	height: 100px;
	background-color: rgb(13, 11, 43);
	color: white;
	margin: auto;
	position: sticky;
	top: 0;
	z-index: 1;
}

.nav-container {
	padding: 10px;
	width: 60%;
	height: 80px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a {
	font-size: 1.5em;
	color: white;
	margin-left: 5px;
}
.logo a > span {
	font-size: 1em;
	font-weight: bold;
}
.logo img {
	width: 25px;
	height: 25px;
}

.nav-rigth button {
	grid-area: button;
	position: relative;
	top: 10px;
	background-color: #636e72;
	border: 2px solid #fdcb6e;
	border-radius: 20px;
	width: 150px;
	height: 26px;
	font-size: 13px;
	font-weight: bold;
	color: #fdcb6e;
	justify-self: flex-end;
	cursor: pointer;
}
.nav-rigth button:hover {
	border: none;
}
.nav-rigth span {
	position: relative;
	top: 10px;
	grid-area: telefono;
	font-size: 10px;
}
.redes {
	grid-area: redes;
	display: flex;
	flex-direction: column;
}

#facebook > img,
#instagram > img {
	width: 23px;
	height: 23px;
	position: relative;
	top: 10px;
	cursor: pointer;
}

.nav-rigth {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	column-gap: 10px;
	grid-template-areas:
		"button redes"
		"telefono redes";
}

/************ footer ************/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: rgb(49, 48, 48);
	color: white;
	margin: auto;
	z-index: 1;
}
.nav-footer,
.copy {
	width: 100%;
	height: 40px;
}
.nav-footer ul {
	width: 50%;
	margin: auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.nav-footer ul > li > a {
	font-family: "Spinnaker", sans-serif;
	text-decoration: none;
	color: white;
	font-size: 13px;
}
.nav-footer ul > li > a:hover,
.nav-footer ul > li > a:active {
	color: #b2bec3;
}

.copy {
	background-color: white;
	color: gray;
	text-align: center;
}
.copy p {
	padding-top: 10px;
	font-size: 13px;
}

/************ inicio ************/

#main-inicio {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	z-index: -2;
}

#video-inicio {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	filter: grayscale(70%);
	opacity: 0.7;
	z-index: -1;
}
#inicio {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;
	width: 100%;
}
#inicio div > h2,
#inicio div > h3 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.15em;
	font-size: 90px;
	font-weight: 500px;
}
#inicio div > h3 {
	position: relative;
	text-align: center;
	font-size: 95px;
	color: white;
	top: -55px;
}
#inicio div {
	height: 25vh;
	margin-top: 20vh;
	/* margin-bottom: 3em; */
}

#inicio p {
	font-family: "Raleway", sans-serif;
	/* margin-top: -3em; */
	font-size: 10px;
	color: white;
	position: relative;
}

#inicio span {
	font-family: "Raleway", sans-serif;
	margin-top: 0.3em;
	font-size: 14px;
	color: white;
}
#inicio button {
	width: 150px;
	height: 45px;
	align-self: center;
	margin-top: 2em;
	background-color: transparent;
	border: 4px solid white;
	color: white;
	cursor: pointer;
}
#inicio button:hover {
	background-color: white;
	color: black;
}

/************ horario ************/

#main-horario {
	height: 150px;
	color: white;
	background-color: #a6a8ab;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%236d8abe' fill-opacity='0.57' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}

.horario {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 45px;
}

.horario h3 {
	font-size: 45px;
	font-family: "Raleway", sans-serif;
}
.horario i {
	color: white;
	font-size: 50px;
	margin-left: 10px;
	margin-right: 40px;
	cursor: pointer;
}
.horario h3 > span {
	font-size: 45px;
	font-family: "Raleway", sans-serif;
	font-weight: lighter;
	margin-left: 10px;
}

.horario ul {
	list-style: none;
}

.horario ul > li {
	font-size: 20px;
}

/************ servicios ************/
#main-servicios{
	background-color:black;
	
}
#main-servicios h3{
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	color: white;
	height: 1.5em;
	text-align: center;
	padding-top: .2em;
}
.servicios {
	background-color: black;
	width: 100%;
	display: flex;
	/* justify-content:space-evenly; */
}
.fotos {
	width: 50%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 300px);
	grid-template-areas:
		"servicio1 servicio1 servicio2"
		"servicio4 servicio3 servicio3"
		"servicio5 servicio5 servicio6"
		"servicio8 servicio7 servicio7";
	gap: 10px;
}
.fotos img {
	width: 100%;
	height: 300px;
}
.fotos img:hover{
	filter: sepia(40%)opacity(0.7);

}
.lista-servicios{
	background-color: white;
}
.lista-servicios ul {
	margin-top: 25px;
	list-style: none;
	text-transform: capitalize;
	height: 100%;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	/* text-align: center; */
}
.lista-servicios li{
	width: 85%;
	color: #636e72;
	border-bottom: 2px solid #fdcb6e;
	justify-self: space-between;
	margin-left: 40px;
	padding: 20px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
#servicio1 {
	grid-area: servicio1;
}
#servicio2 {
	grid-area: servicio2;
}
#servicio3 {
	grid-area: servicio3;
}
#servicio4 {
	grid-area: servicio4;
}
#servicio5 {
	grid-area: servicio5;
}
#servicio6 {
	grid-area: servicio6;
}
#servicio7 {
	grid-area: servicio7;
}
#servicio8 {
	grid-area: servicio8;
}

/*********** media queries ***********/

/********** large  **********/
@media (min-width: 1200px) {
	#video-inicio {
		width: 100vw;
	}
}

/********** medium **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#video-inicio {
		width: 100vw;
	}
}
/********** small **********/
@media (min-width: 768px) and (max-width: 991px) {


	#video-inicio {
		width: 100vw;
	}
	/* footer */
	.nav-footer ul > li > a {
		font-size: 10px;
	}

	/* inico */
	#main-inicio {
		height: 80vh;
	}

	/* servicios */
	.servicios{
		flex-direction: column;

	}
	.fotos{
		width: 100%;
	}
	.lista-servicios ul{
		width: 100%;
	}

	.fotos{
		grid-template-areas:
		"servicio1 servicio2 servicio4"
		"servicio3 servicio3 servicio3"
		"servicio5 servicio6 servicio8"
		"servicio7 servicio7 servicio7";
	}
}

/********** extra small **********/
@media (max-width: 767px) {
	/* navbar */

	header {
		height: 150px;
	}
	.nav-container {
		width: 80%;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}
	.nav-rigth {
		margin: 0;
		grid-template-columns: 1fr;
		grid-template-areas:
			"button"
			"telefono"
			"redes";
	}
	.nav-rigth button {
		width: 200px;
		height: 40px;
		justify-self: center;
		font-size: 15px;
	}

	.redes {
		flex-direction: row;
		justify-content: center;
	}
	.redes #facebook,
	.redes #instagram {
		margin-right: 5px;
		width: 20px;
		height: 20px;
	}
	.nav-rigth #facebook > img,
	.nav-rigth #instagram > img {
		margin-top: 5px;
		width: 20px;
		height: 20px;
	}

	/* footer */
	footer {
		display: none;
	}

	/* inicio */
	#main-inicio {
		height: 60vh;
	}
	#video-inicio {
		width: 100vw;
		top: 0;
		height: 60vh;
	}
	#inicio div {
		height: 100px;
		/* margin-top: 30px; */
	}
	#inicio div > h2,
	#inicio div > h3 {
		letter-spacing: 0.1em;
		font-size: 4.5em;
		font-weight: 500px;
	}
	#inicio p {
		margin-top: 2px;
	}
	#inicio button {
		width: 100px;
		height: auto;
		padding: 5px;
		font-size: 10px;
		border: 2px solid white;
	}

	/* horario */

	.horario {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.horario i {
		display: none;
	}
	#main-horario {
		height: 40vh;
	}
	.horario {
		top: 15px;
	}

	/* servicios */
	.servicios{
		flex-direction: column;

	}
	.fotos{
		width: 100%;
	}
	.lista-servicios ul{
		width: 100%;
	}

	.fotos{
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: repeat(4, 200px);
		grid-template-areas:
		"servicio2 servicio2 servicio5 servicio7 servicio6 servicio6"
		"servicio2 servicio2 servicio4 servicio4 servicio6 servicio6"
		"servicio2 servicio2 servicio4 servicio4 servicio8 servicio8"
		"servicio1 servicio3 servicio4 servicio4 servicio8 servicio8";
		gap: 0;
	}
	#servicio2, #servicio4{
		height: 600PX;
	}
	#servicio1,#servicio3,#servicio5,#servicio7{
		height: 200px;
	}
	#servicio6,#servicio8{
		height: 400px;
	}
}
